.footer-1{
    background-color: rgb(233, 83, 133);
    display: flex;
    justify-content: space-evenly;
}

.contact {
    display: flex;
    justify-content: space-evenly;
}

.inputs-section{
    display:flex;
    flex-direction: column;
}

.link{
    transition: background 1s ease-in-out;
    text-decoration: none;
    color: azure;
    background-color: rgb(126, 173, 209);
}

.link:hover {
    background: plum;
}
