.navigation {
    display:flex;
    gap: 20px;
}

.navigation__link{
  cursor: pointer;
  background: rgb(126, 173, 209);
  border-radius: 15px;
  outline: none;
  transition: background 0.5s ease-in-out;
  padding: 2% ;
  text-decoration: none;
  color: azure;
  padding: 10px;
}


.navigation__link:hover {
  background: plum;
}
