
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

.body{
    font-family: 'Montserrat', sans-serif;   
}

.name-title{
    font-size: 400%;
    position: absolute;
    top: 10px;
    left: 10px;

}


.ppic{
    width: 280px;
    height: auto;
    border-radius: 2%;
    margin-bottom: 20px;
}

.nvbuttons-section {
    display:flex;
    gap: 20px;
}

.nvbutton {

  cursor: pointer;
  background: lightblue;
  outline: none;
  transition: 1s ease-in-out;
  padding: 2% ;
}


.nvbutton:hover {
  transition: 1s ease-in-out;
  background: #4ab0ac;
}

.nvbutton:hover svg {
  stroke-dashoffset: -480;
}


.inputs-section{
    display:flex;
    flex-direction: column;
}

.contact {
    display: flex;
    justify-content: space-evenly;
   
}

.main-header{
    background-color: #4F95DA;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 5px;
    flex-wrap: wrap;
}

.other-header{
    display: flex;
    justify-content: center;
}

.footer-1{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

