@import "/css/global.css";
@import "/css/header.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "/css/footer.css";
@import "/css/main.css";


@media (prefers-color-scheme: dark) {
  .body {
    background-color: rgb(34, 26, 5);
    color: whitesmoke;

  }  
  .footer-1{
    background-color: blueviolet;
  }

  .main-header{
    background-color: blueviolet;
  }
  .nvbutton{
    background: darkblue;
  }
  .nvbutton:hover {
    transition: 1s ease-in-out;
    background: rgb(37, 2, 37);
  }
  .link{
    
    background-color: darkblue;
  }
  .link:hover {
    transition: 1s ease-in-out;
    background: rgb(37, 2, 37);
  }
}